body {
    background: black;
    color: white;
    min-height: 100%;
    font-family: 'Poppins';
    font-size: 0.9em;
    /* width: 100vw; */
    /* cursor: none; */
    height: 100vh;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000 url('https://i.gifer.com/Ayu7.gif') no-repeat center center;
    z-index: 99999;
    background-size: 50%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.2em;
}

.podcast-page-container {
    padding: 1em 2.5em;
    ;
}

.podcast-container {
    text-align: left;
    /* padding-left: 1em; */
}

.podcast-page-title {
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    /* margin-left: -2vw; */
}

.title-line {
    border-top: 1.5px solid #878484;
    width: 75%;
    margin-bottom: 5vw;
}

.podcast-page-thumbnail {
    width: 75%;
}

.podcast-page-description {
    width: 85%;
    padding: 1.3em 0;
}

.socials {
    margin-left: -0.4em;
    margin-bottom: 10vw;
    margin-top: 3vw;
}

.socials a {
    margin: 0.4em;
}

h3 {
    font-weight: 500;
    font-size: 1.4em;
    padding: 1.2em 0;
}

.sections {
    display: grid;
    grid-template-columns: auto 55%;
    grid-template-areas: "left right";
    margin-bottom: 10vw;
}

.leftside-section {
    grid-area: left;
}

.rightside-section {
    grid-area: right;
}

.section-thumbnail {
    padding: 3vw;
    padding-left: 0;
    width: 100%;
}

.section-title {
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 2vw;
    padding-top: 2vw;
}

.section-description {
    margin-left: 2vw;
    width: 100%;
    padding-top: 2vw;
}

.section-socials {
    margin-top: 3vw;
    margin-left: -1vw;
}

.section-socials a {
    margin: 0.4em;
}

.socials img {
    transition: 0.5s;
}

.socials img:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px, 40px rgba(0, 0, 0, 0.5);
}

.section-socials img {
    transition: 0.5s;
}

.section-socials img:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px, 40px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 600px) and (max-width:900px) {
    .podcast-container {
        padding-left: 5vw;
        padding-top: 2vw;
    }
    .podcast-page-title {
        font-size: 2em;
    }
    .podcast-page-thumbnail {
        width: 66%;
    }
    .podcast-page-description {
        font-size: 1.2em;
    }
    .section-thumbnail {
        width: 80%;
    }
    .leftside-section {
        padding-left: 4vw;
    }
    .section-title {
        font-size: 1.5em;
        width: 90%;
    }
    .section-description {
        font-size: 1.1em;
        width: 80%;
    }
    h3 {
        font-size: 2em;
    }
    .section-thumbnail {
        width: 90%;
    }
    .section-title {
        font-size: 1.6em;
        width: 100%;
    }
    .section-description {
        width: 80%;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 1.1em;
    }
    .podcast-container {
        padding-left: 10vw;
    }
    .podcast-page-title {
        font-size: 2.5em;
        padding-top: 1.5em;
        padding-bottom: 0.3em;
        /* padding-left: 7vw; */
        margin-left: -4vw;
    }
    .title-line {
        border-top: 2px solid #878484;
        width: 40%;
        margin-bottom: 7 vw;
    }
    .main {
        display: grid;
        grid-template-columns: 55% auto;
        grid-template-areas: "image des";
    }
    .podcast-page-thumbnail {
        width: 85%;
        grid-area: image;
    }
    .podcast-page-description {
        width: 85%;
        padding: 0vw 0;
        grid-area: des;
        font-size: 1.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    .sections {
        display: grid;
        grid-template-columns: auto 55%;
        grid-template-areas: "left right";
    }
    .rightside-section {
        grid-area: right;
    }
    .leftside-section {
        grid-area: left;
    }
    .section-thumbnail {
        padding: 2vw;
        width: 75%;
        padding-top: 1vw;
    }
    .section-title {
        padding-top: 1vw;
        font-weight: 500;
        font-size: 1.6em;
        margin-left: 1.7vw;
        width: 90%;
    }
    .section-description {
        margin-left: 1.7vw;
        width: 80%;
        font-size: 1.2em;
        margin-top: 2vw;
        padding-top: 1vw;
    }
    .socials {
        margin-bottom: 0vw;
        margin-top: 1vw;
    }
    .socials a :nth-child(1) {
        margin: 0em;
    }
    .socials a :nth-child(2) {
        margin: 0.4em;
    }
    .section-socials {
        margin-bottom: 0vw;
        margin-top: 2vw;
        padding-left: 2.1vw;
    }
    .section-socials a {
        margin: 0.4em;
    }
}

@media only screen and (min-width: 900px) {
    .cursor {
        z-index: 999999;
        width: 25px;
        height: 25px;
        border: 1.5px solid white;
        border-radius: 50%;
        position: absolute;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: cursorAnim .5s infinite alternate;
        pointer-events: none;
        background-color: #4646464f;
    }
}

@media only screen and (min-width: 1300px) {
    .section-title {
        font-size: 1.9em;
    }
    .section-description {
        margin-left: 1.7vw;
        width: 70%;
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 450px) {
    .section-thumbnail {
        width: 120%;
        margin-left: -4vw;
    }
    .section-socials {
        margin-left: -5vw;
    }
    .rightside-section {
        margin-left: 1vw;
    }
}