body {
    background: black;
    color: white;
    min-height: 100%;
    font-family: 'Poppins';
    font-size: 1em;
    width: 100%;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000 url('https://i.gifer.com/Ayu7.gif') no-repeat center center;
    z-index: 99999;
    background-size: 50%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.3em;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

section {
    text-align: left;
    margin-left: 8vw;
}

.hide-mobile {
    display: none;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    margin-top: 1.5em;
}

.socials {
    margin-left: -0.4em;
}

.socials a {
    margin: 0.4em;
}

@media only screen and (max-width: 900px) {
    .about {
        position: relative;
        display: grid;
        grid-template-columns: auto 55%;
        grid-template-rows: 80% 20%;
        grid-template-areas: "names image" "blank handles";
    }
    .Image {
        width: 100%;
        margin-top: -9vw;
        grid-area: image;
        z-index: -1;
    }
    .names {
        grid-area: names;
        font-size: 1.7em;
        font-weight: 700;
        position: absolute;
        bottom: 8vw;
        right: 0vw;
        text-align: right;
    }
}

.handles {
    grid-area: handles;
    text-align: start;
    margin-right: 3vw;
}

.handles li img {
    margin-right: 0.4em;
}

.handles li {
    text-align: right;
}

.podcast-gray-container {
    background: #464646;
    margin: 4em 0.3em;
    text-align: left;
    padding-left: 11vw;
    padding-top: 9vw;
    padding-bottom: 5vw;
}

.podcast-title {
    font-weight: 600;
    font-size: 1.4em;
    padding-bottom: 5vw;
}

.podcast-thumbnail {
    width: 76%;
}

.podcast-description {
    padding: 5vw 0;
}

.links-btn {
    width: 20%;
}

.link-img {
    width: 30%;
}

.line {
    border-top: 1.2px solid #000000;
    width: 60%;
}

.lens-image {
    width: 35%;
}

.episodes {
    margin-top: 20vw;
    text-align: center;
    margin-bottom: 40vw;
}

.episodes-title {
    display: flex;
    align-items: flex-start;
}

h2 {
    margin-left: -22vw;
    margin-top: 9vw;
    font-weight: 500;
    font-size: 48px;
}

.episode-container {
    display: inline-block;
    text-align: left;
    width: 70%
}

.episode-number {
    font-weight: 500;
    color: #878484;
    font-size: 1.7em;
    padding: 6vw 0;
}

.episode-podcast-title {
    font-weight: 500;
    font-size: 1.6em;
    padding-bottom: 5.5vw;
}

.thumbnail {
    width: 100%
}

@media only screen and (min-width: 900px) {
    .show-desktop {
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    section {
        margin-left: 33vw;
    }
    h1 {
        font-size: 73px;
        margin-top: 0.6em;
    }
    .socials {
        margin-left: -0.5em;
    }
    .socials a {
        margin: 0.5em;
    }
    .about {
        position: relative;
        display: grid;
        grid-template-rows: 60% 25% auto;
        grid-template-areas: "image" "names" "handles";
        grid-area: about;
    }
    .Image {
        width: 125%;
        margin-left: 0vw;
        margin-top: -9vw;
        grid-area: image;
    }
    .names {
        grid-area: names;
        font-size: 2.7em;
        position: absolute;
        bottom: 8vw;
        right: -4vw;
        text-align: left;
        line-height: 1.3em;
        font-weight: 700;
    }
    .handles {
        grid-area: handles;
        width: 100%;
        margin-top: -1vw;
    }
    .home-page {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: "about podcast";
        margin-left: 5vw;
    }
    .podcast-gray-container {
        width: 60%;
        height: 55%;
        grid-area: podcast;
        margin-top: 2em;
        margin-left: 25vw;
        padding: 2vw;
    }
    .podcast-title {
        font-size: 1.6em;
        padding-bottom: 1vw;
    }
    .podcast-thumbnail {
        width: 100%;
        margin-left: -17vw;
    }
    .podcast-description {
        padding-left: 25vw;
        margin-top: -22vw;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .links-btn {
        width: 22%;
        margin-left: 25vw;
        margin-top: 7vw;
    }
    html {
        scroll-behavior: smooth;
    }
    .desktop-page {
        height: 100vh;
        width: 90vw;
    }
    .scroll {
        margin-left: 48vw;
        margin-top: -5vw;
    }
    .lens-image {
        width: 25%;
        margin-left: 2vw;
    }
    h2 {
        margin-left: -20vw;
        margin-top: 9vw;
        font-weight: 500;
        font-size: 70px;
    }
    @media only screen and (min-width: 1300px) {
        h2 {
            font-size: 87px;
            margin-top: 10vw;
        }
    }
    .episodes {
        padding-top: 5vw;
        margin-top: 0;
        margin-bottom: 15vw;
    }
    .all-episodes {
        display: grid;
        grid-template-columns: auto 50%;
        grid-template-areas: "left right"
    }
    .right {
        grid-area: right;
        margin-top: -20vw;
        padding-left: 3vw;
        padding-right: 3vw;
        margin-bottom: 22vw;
    }
    .left {
        grid-area: left;
        padding-left: 6vw;
    }
    .episode-container {
        display: inline-block;
        text-align: left;
        width: 90%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .Image {
        width: 75%;
        margin-top: -5vw;
    }
    h1 {
        font-size: 60px;
        margin-top: 1.3em;
    }
    .names {
        font-size: 2.6em;
    }
    .podcast-gray-container {
        margin: 4em 10vw;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1110px) {
    .links-btn {
        margin-top: 4vw;
    }
}